.tasksBoard {
    width: 100%;
    margin-top: 4rem;

    font-size: 0.875rem;
    font-weight: bold;
}

.tasksBoard .informationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

}

.informationContainer .info {
    display: flex;
    gap: 0.5rem;

    font-weight: bold;
}

.info .counter {
    background-color: var(--gray-400);
    color: var(--gray-200);

    border-radius: 8px;
    padding: 0 0.5rem;
}

.tasksBoard .tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    
    width: 100%;
    min-height: 15.25rem;
    margin-top: 1.5rem;

}

.tasksContainer > img {
    margin-bottom: 1rem;
}

.tasksContainer > p {
    color: var(--gray-300);
    font-size: 1rem;
}

.blue {
    color: var(--blue-200);
}

.purple {
    color: var(--purple-200);
}